.info {
  display: inline-block;
  position: absolute;
  .icon {
    margin-left: 0.5em;
    border: solid 1px #9d9d9d;
    border-radius: 1em;
    width: 1em;
    height: 1em;
    color: #9d9d9d;
    text-align: center;
    user-select: none;

    span{
      font-size: 0.8em;
      vertical-align: top;
      font-weight: 100;
    }
  }
}