@import "style";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.form-salary {
  font-family: Futura, sans-serif;
  font-size: 1.3em;
  margin: 2em 3em;

  h3 {
    font-size: 0.8em;
    color:#a6a6a6
  }
  .r{
    font-family: Rouble;
  }
}