@font-face {
  font-family: Futura; /* Гарнитура шрифта */
  src: url(17768.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: Rouble; /* Гарнитура шрифта */
  src: url(rouble.ttf); /* Путь к файлу со шрифтом */
}
